body {
    font-size: 150%;
}

.ScheduleTable {
    border-collapse: separate;
    border-spacing: 8px 0px;
    padding-left: 8px;
}

tbody {
    -webkit-text-size-adjust: 100%;
} 

b#date {
    padding-left: 8px;
}

p {
    padding-left: 8px;
}

p#LastUpdate {
    text-align: right;
    padding-right: 10px;
}

.silver {
    color: silver;
}

.links {
    padding-left: 8px;
}

.note {
    font-size: 12px;
}

.notes {
    padding-left: 8px;
}