html,body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }

.ScheduleTable {
    border-collapse: separate;
    border-spacing: 8px 0px;
    padding-left: 8px;
}

b#date {
    padding-left: 8px;
}

p {
    padding-left: 8px;
}

p#LastUpdate {
    text-align: right;
    padding-right: 10px;
}

.silver {
    color: silver;
}

.links {
    padding-left: 8px;
}

.note {
    font-size: 12px;
}

.notes {
    padding-left: 8px;
}